.moviesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.movieCard {
    position: relative;
}

.movieCard img {
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}


.movieCard:hover .overlay {
    display: flex;
}